
.note {
    color: #e27d60;
    border: 1px dotted;
    padding: 0.75rem;
    margin: 1rem 0;
}

.noteForm {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

